form {
    max-width: 700px;
}

input[type=text], select {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

form button {
    background-color: #56B4D9;
    color: white;
    padding: 12px 20px;
    margin: 10px 10px 10px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #56B4D9;
    transition: 0.3s;
    width: 170px;
}

form button:hover {
    background: white;
    color: #56B4D9;
    border: 2px solid #56B4D9;
    transition: 0.3s;
}

#add_actor {
    background: #0f0f0f;
    color: white;
    border: 2px solid #0f0f0f;
}

.actor-input-fields {
    margin: 5px 0 5px 0;
}

.remove-actor {
    background: red;
    color: white;
    width: 40px;
    height: 40px;
}

