@using MovieDatabase.BL.Domain
@model MovieDatabase.BL.Domain.Movie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var shortReleaseDate = Model.ReleaseDate != null ? Model.ReleaseDate.Value.ToShortDateString() : "Onbekend";
    var shortWatchDate = Model.WatchDate != null ? Model.WatchDate.Value.ToShortDateString() : "Onbekend";
    var genre = Model.Genre != null ? Model.Genre.Name : "Onbekend";
    var score = Model.Rating == null ? "?" : Model.Rating.ToString();
    var duration = Model.Duration == null ? "?" : Model.Duration.ToString();
    string isPresent = Model.IsPresent == true ? "Ja" : "Nee";
}

<h2>Details film</h2>

<h3>
    <b>@Model.Title</b>
</h3>
<p>
    <b>Release Date:</b> @shortReleaseDate <br/>
    <b>Genre</b>: @genre <br/>
    <b>Duur:</b> @duration <br/>
</p>

<p>
    <b>Nr: </b> @Model.Id <br/>
    <b>Mijn score: </b> @score <br/>
    <b>Gekeken op: </b> @shortWatchDate <br/>
    <b>Aanwezig op pc: </b> @isPresent <br/>
</p>

@if (Model.Actors != null && Model.Actors.Any())
{
    <h4>
        <b>Acteurs/Actrices</b>
    </h4>
    <ul class="list-group">
        @foreach (Actor a in Model.Actors)
        {
            <li>
                <a>@a.Name</a>
            </li>
        }
    </ul>
}

<a asp-controller="Movie", asp-action="ListWatched">Terug naar overzicht bekeken films</a>