@using MovieDatabase.BL.Domain
@model MovieDatabase.BL.Domain.Media

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Gegevens bewerken</h2>

<form asp-controller="Movie" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Id" class="control-label">Nr</label>
        <span class="text-danger"></span>
        <input asp-for="Id" class="form-control" readonly="readonly"/>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Titel</label>
        <span class="text-danger"></span>
        <input asp-for="Title" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label">Release Date</label>
        <span class="text-danger"></span>
        <input asp-for="ReleaseDate" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label">Score</label>
        <span class="text-danger"></span>
        <input asp-for="Rating" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Genres</label>
        <select asp-for="MediaGenres[0].Genre" asp-items="Html.GetEnumSelectList<Genre>()"></select>
        <select asp-for="MediaGenres[1].Genre" asp-items="Html.GetEnumSelectList<Genre>()"></select>
    </div>
    @{
        string shortWatchDate = Model.WatchDate != null ? Model.WatchDate.Value.ToShortDateString() : "?";
    }
    <div class="form-group">
        <label asp-for="WatchDate" class="control-label">Gekeken op</label>
        <span class="text-danger"></span>
        <input asp-for="@shortWatchDate" class="form-control"/>
    </div>
    <button class="btn btn-default" type="submit">Bevestig update</button>
</form>

<script type="text/javascript">
    $('#AddButton').click(function() {
        var index = (new Date()).getTime();
        var clone = $('#NewPet').clone();
        // Update the index of the clone
        clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
        clone.html($(clone).html().replace(/"%"/g, '"' + index + '"'));
        $('#Pets tbody').append(clone.html());
    });
</script>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}